In [114]:
import pandas as pd

In [308]:
import os
entries = os.listdir('result/')
print(len(entries))

46

In [306]:
 failed = []
for name in entries:
    try:
        df1 = pd.read_excel(f'primary_result/{name}'  , names =['name' , 'phone' , 'website' , 'count' , 'rate' , 'stars' , 'time'] )
        df2 = pd.read_excel(f'primary/{name}' , names =['name' , 'addres' , 'link'])
        result = pd.merge(df2, df1, on = "name", how = "inner")
        #print(result.shape)
        result = result.drop_duplicates('link')
        #print(result.shape)
        writer = pd.ExcelWriter(f'result/{name}', engine='xlsxwriter')
        result.to_excel(writer, sheet_name='daeler', index=False)
        writer.close()
    except Exception as e:
        print(e)
        print(f'{name} probelem has problem')
        failed.append(name)

[Errno 2] No such file or directory: 'primary/Baltimore2.xlsx'
Baltimore2.xlsx probelem has problem
[Errno 2] No such file or directory: 'primary/Baltimore3.xlsx'
Baltimore3.xlsx probelem has problem
[Errno 2] No such file or directory: 'primary/Baltimore4.xlsx'
Baltimore4.xlsx probelem has problem
[Errno 2] No such file or directory: 'primary/Jefferson_City2.xlsx'
Jefferson_City2.xlsx probelem has problem
[Errno 2] No such file or directory: 'primary/Lansing2.xlsx'
Lansing2.xlsx probelem has problem
[Errno 2] No such file or directory: 'primary/Lansing3.xlsx'
Lansing3.xlsx probelem has problem

In [309]:
df = pd.DataFrame()
for data in entries:

    name = data[1:-6]
    print(name)
    data = pd.read_excel(f'result/{data}' )
    data['city'] = name 
    df = pd.concat([df , data]  ,   )

Albany-NY
Albuquerque-NM
Austin-TX
Austin-TX).xlsx.padvish.back
Billings-MT
CarsonCity-NV
Charleston-SC
Charlotte-NC
Cheyenne-WY
Columbus-OH
Concord-NH
Concord-NH).xlsx.padvish.back
Harrisburg-PA
Helena-MT
Honolulu-HI
Houston-TX
LasVegas-NV
Madison-WI
Montpelier-VT05602
Montpelier-VT05602).xlsx.padvish.back
Nashville-TN
Newark-NJ
Newark-NJ).xlsx.padvish.back
NewYork-NY
OklahomaCity-OK
Olympia-WA
Omaha-NE
Philadelphia-PA
Philadelphia-PA).xlsx.padvish.back
Portland-OR
Providence-RI
Raleigh-NC
SaltLakeCity-UT
SaltLakeCity-UT).xlsx.padvish.back
SantaFe-NM
Seattle-WA
SiouxFalls-SD
Trenton-NJ
VirginiaBeach-VA
nnapoli
altimor
osto
etroi
efferson_Cit
ansin
inneapoli

In [310]:
result = df.drop_duplicates('link')

In [311]:
result.shape

(26124, 10)

In [312]:
result.head()

,name,addres,link,phone,website,count,rate,stars,time,city
0,C & R Auto Sales Inc,"44 Catherine St, Albany, NY 12202 (1 mi)",/Cars/m-C-R-Auto-Sales-Inc-sp294146,(518) 436-0730,http://www.candrautosalesalbanyny.com,0,0.0,0,does not exist,Albany-NY
1,Maloum Auto Sales LLC,"142 Catherine St, Rm 5, Albany, NY 12202 (1 mi)",/Cars/m-Maloum-Auto-Sales-LLC-sp445079,(518) 362-9129,https://www.maloumautosale.com,0,5.0,0,does not exist,Albany-NY
2,ADAM AUTO AGENCY LLC,"27 Columbia Street, Rensselaer, NY 12144 (1 mi)",/Cars/m-ADAM-AUTO-AGENCY-LLC-sp388896,(518) 692-6729,http://adamautoagency.com,21,4.0,(3),Today 10:00 AM - 6:00 PM (Closed now),Albany-NY
3,Quail Auto Sales,does not exist,/Cars/m-Quail-Auto-Sales-sp314598,(518) 851-1775,http://www.quailautosales.com,5,0.0,(6),Today 8:30 AM - 5:00 PM (Closed now),Albany-NY
4,Little Motors,"49 Quail St, Albany, NY 12206 (1 mi)",/Cars/m-Little-Motors-sp190853,(518) 462-1633,http://www.littlemotorspag.com,0,5.0,0,does not exist,Albany-NY

In [314]:
grouped = result.groupby('city')

In [ ]:
len(grouped)

In [315]:
dfs = {}
for city , group in grouped:
    dfs[city] = group.copy()

In [317]:
for i in dfs.keys():
    name = f'{i}_df'
    name = dfs[i]
    writer = pd.ExcelWriter(f'final/{i}.xlsx', engine='xlsxwriter')
    name.to_excel(writer, sheet_name='daeler', index=False)
    writer.close()

In [250]:
import time
'''for i in index.keys():
    start = inde    
    end = index[i][-1] + 1
    #os.mkdir(f'final/{i}')
    data = result.iloc[start:end , :]
    print(data.head())
    time.sleep(15)
    #writer = pd.ExcelWriter(f'final/{i}/{i}.xlsx', engine='xlsxwriter')
    #data.to_excel(writer, sheet_name='daeler', index=False)
    #writer.close()'''
    
subset = result.iloc[:1618, :].copy()
subset

,name,addres,link,phone,website,count,rate,stars,time
0,Albany-NY,"44 Catherine St, Albany, NY 12202 (1 mi)",/Cars/m-C-R-Auto-Sales-Inc-sp294146,(518) 436-0730,http://www.candrautosalesalbanyny.com,0,0.0,0,does not exist
1,Albany-NY,"142 Catherine St, Rm 5, Albany, NY 12202 (1 mi)",/Cars/m-Maloum-Auto-Sales-LLC-sp445079,(518) 362-9129,https://www.maloumautosale.com,0,5.0,0,does not exist
2,Albany-NY,"27 Columbia Street, Rensselaer, NY 12144 (1 mi)",/Cars/m-ADAM-AUTO-AGENCY-LLC-sp388896,(518) 692-6729,http://adamautoagency.com,21,4.0,(3),Today 10:00 AM - 6:00 PM (Closed now)
3,Albany-NY,does not exist,/Cars/m-Quail-Auto-Sales-sp314598,(518) 851-1775,http://www.quailautosales.com,5,0.0,(6),Today 8:30 AM - 5:00 PM (Closed now)
4,Albany-NY,"49 Quail St, Albany, NY 12206 (1 mi)",/Cars/m-Little-Motors-sp190853,(518) 462-1633,http://www.littlemotorspag.com,0,5.0,0,does not exist
...,...,...,...,...,...,...,...,...,...
1613,Albany-NY,"444 State St, North Haven, CT 06473 (100 mi)",/Cars/m-New-England-Motors-sp443788,(203) 909-7613,https://www.newenglandmotorsct.com,0,5.0,0,does not exist
1614,Albany-NY,does not exist,/Cars/m-J-Perks-Automotive-sp448081,(978) 728-2502,https://www.jperksauto.com,0,5.0,0,does not exist
1615,Albany-NY,"131 Kingston Avenue, Port Jervis, NY 12771 (10...",/Cars/m-Viscuso-Motors-sp306040,(203) 865-7451,http://www.viscuso-motors.com,0,0.0,(1),does not exist
1616,Albany-NY,does not exist,/Cars/m-A-A-AUTO-TRUCK-REPAIR-SALES-INC-sp440892,(203) 248-4432,https://www.aaautotrucksales.com,0,5.0,0,does not exist
1617,Albany-NY,"1110 Dixwell Ave, Hamden, CT 06514 (100 mi)",/Cars/m-Arthur-Trovei-Sons-Inc-sp314659,(845) 856-1142,https://www.trovei.com,0,5.0,0,does not exist