In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('Frankfort.xlsx'  , names =['name' , 'phone' , 'website' , 'count' , 'rate' , 'stars' , 'time'] )
df2 = pd.read_excel('data/Frankfort.xlsx' , names =['name' , 'addres' , 'link'])
df1.head()

,name,phone,website,count,rate,stars,time
0,"Lenko Motors Auto Sales, LLC",(502) 227-5066,http://www.lenkocars.com,0,5.00,0,does not exist
1,Select Auto,(502) 804-2562,http://www.selectautoky.com,38,4.11,(55),Closed Today (Sun)
2,EZ Car Connection,(502) 466-3106,http://www.ezcarconnection.com,31,5.00,(20),By Appointment Only
3,Hensley Auto Sales Frankfort,(502) 223-2252,https://www.hensleyautos.com,18,0.00,(12),does not exist
4,Bob Allen Chrysler Jeep Dodge of Frankfort,(502) 695-0166,http://www.boballencdjoffrankfort.com,0,4.50,(39),does not exist

In [3]:
result = pd.merge(df2, df1, on = "name", how = "inner")
result.head()

,name,addres,link,phone,website,count,rate,stars,time
0,"Lenko Motors Auto Sales, LLC","712 Holmes str, Frankfort, KY 40601 (1 mi)",/Cars/m-Lenko-Motors-Auto-Sales-LLC-sp375483,(502) 227-5066,http://www.lenkocars.com,0,5.00,0,does not exist
1,"Lenko Motors Auto Sales, LLC","712 Holmes str, Frankfort, KY 40601 (1 mi)",/Cars/m-Lenko-Motors-Auto-Sales-LLC-sp375483,(502) 227-5066,http://www.lenkocars.com,0,5.00,0,does not exist
2,"Lenko Motors Auto Sales, LLC","712 Holmes str, Frankfort, KY 40601 (1 mi)",/Cars/m-Lenko-Motors-Auto-Sales-LLC-sp375483,(502) 227-5066,http://www.lenkocars.com,0,5.00,0,does not exist
3,"Lenko Motors Auto Sales, LLC","712 Holmes str, Frankfort, KY 40601 (1 mi)",/Cars/m-Lenko-Motors-Auto-Sales-LLC-sp375483,(502) 227-5066,http://www.lenkocars.com,0,5.00,0,does not exist
4,Select Auto,"455 Versailles Rd, Frankfort, KY 40601 (2 mi)",/Cars/m-Select-Auto-sp66643,(502) 804-2562,http://www.selectautoky.com,38,4.11,(55),Closed Today (Sun)

In [4]:
result.shape

(796, 9)

In [5]:
result = result.drop_duplicates('name')

In [6]:
result.shape

(722, 9)

In [19]:
writer = pd.ExcelWriter('Frankfort_res.xlsx', engine='xlsxwriter')
result.to_excel(writer, sheet_name='daeler', index=False)
writer.close()

In [17]:
result.shape

(648, 9)